<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJtUm_-8S0sej_tB8MgGZhxjR6EkS7faw</string>
	<key>GCM_SENDER_ID</key>
	<string>1074816415217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clothing</string>
	<key>PROJECT_ID</key>
	<string>marketplace-e37b2</string>
	<key>STORAGE_BUCKET</key>
	<string>marketplace-e37b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074816415217:ios:7639b2595a0cc7db0d8050</string>
	<key>DATABASE_URL</key>
	<string>https://marketplace-e37b2-default-rtdb.firebaseio.com</string>
</dict>
</plist>